<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .bold {
        color: #1f497d;
        font-size: 12pt;
        font-weight: bold;
        font-family: "Calibri";
        padding: 0 10px;
      }
      .regular {
        color: #1f497d;
        font-size: 12pt;
        font-weight: normal;
        font-family: "Calibri";
        padding: 0 10px;
      }
      .no-margin {
        margin: 0;
      }
      table {
        border: 1px solid #333;
        border-spacing: 0;
        border-collapse: collapse;
      }

      td,
      th {
        border: 1px solid #333;
      }
    </style>
  </head>
  <body>
    <table style="width: 100%; border: none !important">
      <tbody>
        <tr>
          <td style="border: none !important">
            <p class="bold no-margin">Ragione Sociale</p>
          </td>
          <td style="border: none !important">
            <p class="regular no-margin">THERMAS DI ROSSI SERGHEJ</p>
          </td>
        </tr>
        <tr>
          <td style="border: none !important">
            <p class="bold no-margin">CODICE FISCALE</p>
          </td>
          <td style="border: none !important">
            <p class="regular no-margin">RSSSGH01P27Z154L</p>
          </td>
        </tr>
        <tr>
          <td style="border: none !important">
            <p class="bold no-margin">Partita IVA</p>
          </td>
          <td style="border: none !important">
            <p class="regular no-margin">02668740067</p>
          </td>
        </tr>
        <tr>
          <td style="border: none !important">
            <p class="bold no-margin">Cod.CCIAA/N.REA</p>
          </td>
          <td style="border: none !important">
            <p class="regular no-margin">AL303346</p>
          </td>
        </tr>
        <tr>
          <td style="border: none !important">
            <p class="bold no-margin">Sede</p>
          </td>
          <td style="border: none !important">
            <p class="regular no-margin">
              CORSO VALENTINO 255 - 15033 CASALE MONFERRATO (AL)
            </p>
          </td>
        </tr>
        <tr>
          <td style="border: none !important">
            <p class="bold no-margin">Forma giuridica</p>
          </td>
          <td style="border: none !important">
            <p class="regular no-margin">Impresa Individuale</p>
          </td>
        </tr>
        <tr>
          <td style="border: none !important">
            <p class="bold no-margin">Stato società</p>
          </td>
          <td style="border: none !important">
            <p class="regular no-margin">REGISTRATA</p>
          </td>
        </tr>
        <tr>
          <td style="border: none !important">
            <p class="bold no-margin">Data inizio attività</p>
          </td>
          <td style="border: none !important">
            <p class="regular no-margin">06/08/2021</p>
          </td>
        </tr>
        <tr>
          <td style="border: none !important">
            <p class="bold no-margin">Attività</p>
          </td>
          <td style="border: none !important">
            <p class="regular no-margin">
              46.74.2 - Commercio All'Ingrosso Di Apparecchi E Accessori Per
              Impianti Idraulici, Di Riscaldamento E Di Condizionamento
            </p>
          </td>
        </tr>
        <tr>
          <td style="border: none !important">
            <p class="bold no-margin">Codice RAE</p>
          </td>
          <td style="border: none !important">
            <p class="regular no-margin">619 - C.I. PRODOTTI NON ALIMENTARI</p>
          </td>
        </tr>
        <tr>
          <td style="border: none !important">
            <p class="bold no-margin">Codice SAE</p>
          </td>
          <td style="border: none !important">
            <p class="regular no-margin">615 - ALTRE FAMIGLIE PRODUTTRICI</p>
          </td>
        </tr>
        <tr>
          <td style="border: none !important">
            <p class="bold no-margin">Email certiﬁcata</p>
          </td>
          <td style="border: none !important">
            <p class="regular no-margin">THERMASDIROSSI@LEGALMAIL.IT</p>
          </td>
        </tr>
        <tr>
          <td style="border: none !important">
            <p class="bold no-margin">Data iscrizione</p>
          </td>
          <td style="border: none !important">
            <p class="regular no-margin">28/07/2021</p>
          </td>
        </tr>
        <tr>
          <td style="border: none !important">
            <p class="bold no-margin">Sezione</p>
          </td>
          <td style="border: none !important">
            <p class="regular no-margin">Piccolo Imprenditore</p>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
